<div class="about-me">
  <h2>{{"ABOUT-ME.HEADER" | translate}}</h2>
  <div class="about-me-anchor" id="about-me"></div>
</div>

<div class="about-me__text-photo">
  <div class="text-and-button-container">
    <span> {{"ABOUT-ME.CONTENT" | translate}} </span>
    <span> {{"ABOUT-ME.CALL-TO-ACTION" | translate}} </span>
    <a class="let-us-talk-btn" href="#let-us-talk">
      <span> {{"ABOUT-ME.LET-US-TALK" | translate}} </span>
    </a>
  </div>

  <div class="profile-img-container">
      <div class="profile-img-border"></div>
      <img class="face-hero" src="./assets/img/about-me/face-peter.png" alt="">
  </div>
</div>

<div class="left-arrow-container">
  <img class="left-arrow" src="./assets/img/about-me/arrow-left.png" alt="">
</div>
