<div class="about-me">
  <img src="./assets/img/about-me/about-me.png" alt="">
</div>

<div class="about-me__text-photo">
  <div class="text-button">
    <span>
      I am a Front-end developer based in Munich, Germany. I enjoy helping designers and companies bring their ideas into real life.  I am looking forward to continuing my developer career with a job in a junior web developer position.

      If you think I’d be a good match for your projects, contact me!
    </span>
    <div class="talk-btn">
      <img src="./assets/img/about-me/let-us-talk-btn.png" alt="">
    </div>
  </div>

  <div class="photo-arrow">
    <img class="face-hero" src="./assets/img/about-me/face-peter.png" alt="">
    <img class="left-arrow" src="./assets/img/about-me/arrow-left.png" alt="">
  </div>

</div>