
@import "../../styles.scss";

.above-the-fold-wrapper {
  height: 84vh;
  margin: 0;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.frontend-dev-wrapper {
  width: 100vw;
  max-width: 1440px;
  margin-top: 100px;
}

p {
  margin: 0;
}

.front-end {
  margin-top: 72px;
  display: flex;
  justify-content: center;
  img{
    width: 50%
  }
}

.developer {
  display: flex;
  justify-content: center;
  padding-top: 18px;
  img{
    width: 60%
  }
}

.stroke-and-name {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;

  .stroke {
    width: 30%;
    height: 3px;
    background-color: black;
  }

  .name {
    color: #FF9900;
    font-family: "overpass";
    font-weight: 700;
    font-size: 36px;
  }
}


.scroll-down-wrapper {
  display: flex;
  @include responsive-padding;
  justify-content: space-between;

  .email {
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    align-self: flex-end;
    font-family: "overpass";
    font-size: 23px;
  }

  .scroll-down-element {
    // border: solid orange;
    align-items: center;

    span {
      font-family: "overpass";
      font-size: 23px;
    }

    display: flex;
    flex-direction: column;
  }

  .arrow {
    img {
      width: 100px;
      height: 200px;
    }
  }
}

// ------------------------- RESPONSIVNESS ------------------------- //
@media(max-width: 750px){
  .stroke-and-name{
    .name{
      font-size: 24px;
    }
    .stroke{
      width: 20%;
    }
  } 
  .developer{
    padding-top: 5px;
  }

  .scroll-down{

    .arrow {
      img {
        width: 50px;
        height: 100px;
      }
  }
}
}

@media(max-width: 450px){
  .stroke-and-name{
    .name{
      font-size: 16px;
    }
    .stroke{
      height: 1.5px
    }
  }
}