.above-the-fold-wrapper {
  height: 84vh;
  // border: solid red;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}


.frontend-dev-wrapper {
  margin-top: 100px;
}

p {
  margin: 0;
}

.front-end {
  margin-top: 72px;
  display: flex;
  justify-content: center;
  // border: solid green;
  img{
    width: 50%
  }
}

.developer {
  display: flex;
  justify-content: center;
  padding-top: 18px;
  // border: solid blue;
  img{
    width: 60%
  }
}

.stroke-and-name {
  // border: solid red;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;

  .stroke {
    width: 30%;
    height: 3px;
    background-color: black;
  }

  .name {
    color: #FF9900;
    font-family: "overpass";
    font-weight: 700;
    font-size: 36px;
  }
}

.scroll-down {
  // border: solid blue;
  display: flex;
  padding: 0 70px 0 60px;
  justify-content: space-between;

  .email {
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    // text-orientation: upright;
    align-self: flex-end;
    font-family: "overpass";
    font-size: 23px;
  }

  .scroll-d {
    // border: solid orange;
    align-items: center;

    span {
      font-family: "overpass";
      font-size: 23px;
    }

    display: flex;
    flex-direction: column;
  }

  .arrow {
    img {
      // border: solid red;
      width: 100px;
      height: 200px;
    }
  }
}