<div class="" >

  <div class="frontend-dev-wrapper">
    <div class="front-end">
      <img src="/assets/img/above-the-fold/frontend.png" alt="">
    </div>

    <div class="developer">
      <img src="/assets/img/above-the-fold/developer.png" alt="">
    </div>

    <div class="stroke-and-name">
      <div class="stroke"></div>
      <div class="name">Peter Ediger</div>
    </div>
  </div>

    <div class="scroll-down-wrapper">
      <div class="email">info&#64;peter-ediger.de</div>
      <div class="scroll-down-element">
        <div class="arrow">
          <img src="/assets/img/down-arrow-animate/arrow{{arrowN}}.png" alt="">
        </div>
        <span>
          <p>Scroll</p>
          <p>Down</p>
        </span>
      </div>
  </div>


</div>