<div class="arrow-holder">
  <img src="./assets/img/contact-form/left-arrow.png" alt="">
</div>

<div class="black-container">
  <div class="triangle-topleft"></div>
  
  <div class="say-hi">
    <img src="./assets/img/contact-form/say-hi.png" alt="">
  </div>

  <div class="discuss-new-project d-flex-j-c">Want to discuss a new project?</div>
  <div class="say-hello d-flex-j-c">Let's discuss your ideas and make it happen!</div>


  <div class="form-wrapper d-flex-j-c">
    <!-- Submitting form data in Angular. -->
    <form class="d-flex column" (ngSubmit)="onSubmit(contactForm)" #contactForm="ngForm">
      
      <div class="name-input-wrapper">
        <input #name="ngModel" [(ngModel)]= "contactData.name" type="text" id="name" name="name" placeholder="Your Name" autocomplete="off" required> 
        @if(!name.valid && message.touched){
          <span class="enter-message">Please enter a name</span>
        }
      </div>

      <div class="email-input-wrapper">
        <input #email="ngModel" [(ngModel)]= "contactData.email" type="email" id="email" name="email" placeholder="Your Email" autocomplete="off" required pattern="[a-zA-Z0-9._%+\-]+@[a-zA-Z0-9.\-]+\.[a-zA-Z]{2,}"> 
        @if(!email.valid && message.touched){
          <span class="enter-message">Please enter a valid email</span>
        }
      </div>
      
      <div class="textarea-wrapper">
        <textarea #message = "ngModel" minlength="4" [(ngModel)]= "contactData.message" name="message" id="message" placeholder="Your Message" required></textarea>
        @if(!message.valid && message.touched){
          <span class="enter-message">Please enter a message</span>
        }
      </div>

      <div class="checkbox-wrapper">
        <div>
          <input type="checkbox" id="consent" name="consent" required>
        </div>
        <label id="terms">I've read the privacy policy and agree to the processing of my data as outlined</label>
      </div>

      <button class="submit-btn d-flex center-all">
        <span>Send message</span>
      </button>

    </form>
  </div>
</div>

