<div class="left-arrow-container">
  <img src="./assets/img/contact-form/left-arrow.png" alt="">
</div>



<div class="black-container">

  
  <div class="say-hi">
    <img src="./assets/img/contact-form/say-hi.png" alt="">
  </div>

  <div class="discuss-new-project d-flex-j-c"> {{"CONTACT.DISCUSS-PROJECT" | translate}} </div>
  <div class="say-hello d-flex-j-c"> {{"CONTACT.DO-IT" | translate}} </div>


  <div class="form-wrapper d-flex-j-c">
    <div class="success-msg buttom-to-base d-flex" [ngClass]= "{'d-none': !successMsg, 'buttom-to-base': successMsg}" > {{"CONTACT.SUCCESS-MSG" | translate }} </div>
    <form class="d-flex column" (ngSubmit)="onSubmit(contactForm)" #contactForm="ngForm">
      
      
      <div class="name-input-wrapper">
        <input #name="ngModel" [(ngModel)]="contactData.name" type="text" id="name" name="name"
          [placeholder]="'FORM.PLACEHOLDER.NAME' | translate" autocomplete="off" required>
        @if(!name.valid && message.touched){
        <span class="enter-message"> {{"WARNING.NAME" | translate}} </span>
        }
      </div>

      <div class="email-input-wrapper">
        <input #email="ngModel" [(ngModel)]="contactData.email" type="email" id="email" name="email"
          [placeholder]="'FORM.PLACEHOLDER.MAIL' | translate" autocomplete="off" required
          pattern="[a-zA-Z0-9._%+\-]+@[a-zA-Z0-9.\-]+\.[a-zA-Z]{2,}">
        @if(!email.valid && message.touched){
        <span class="enter-message"> {{"WARNING.MAIL" | translate}} </span>
        }
      </div>

      <div class="textarea-wrapper">
        <textarea #message="ngModel" minlength="4" [(ngModel)]="contactData.message" name="message" id="message"
          [placeholder]="'FORM.PLACEHOLDER.MESSAGE' | translate" required></textarea>
        @if(!message.valid && message.touched){
        <span class="enter-message"> {{"WARNING.MESSAGE" | translate}} </span>
        }
      </div>

      <div class="checkbox-wrapper">
        <div>
          <input type="checkbox" id="consent" name="consent" required [(ngModel)]="contactData.consent">
        </div>
        
        <label id="terms"> {{"PRIVACY-POLICY.PART-A" |translate}} <span class="privacy-policy"
            [routerLink]="'/privacy-policy'"> {{"PRIVACY-POLICY.PART-B" | translate}} </span> {{"PRIVACY-POLICY.PART-C"
          |translate}} </label>
          @if(!contactData.consent){
            <span class="consent-privacy-p"> {{ "PRIVACY-POLICY.ACCEPT-MSG" | translate }} </span>
          }
      </div>
      
      <button class="d-flex center-all"
        [ngClass]="{'valid-submit-btn': contactForm.valid, 'invalid-submit-btn': !contactForm.valid}">
        <span> {{"SEND-MESSAGE" | translate}} </span>
      </button>

    </form>
  </div>
</div>