@import "../../styles.scss";

*input {
  background-color: black;
}

.arrow-holder {
  margin-top: 50px;
  display: flex;
  justify-content: flex-end;
  border: none;

}

.black-container {
  clip-path: polygon(0 0, 100% 12%, 100% 100%, 0% 100%);
  position: relative;
  height: fit-content;
  background-color: black;
  top: 1px;
  overflow-x: hidden;
  border:none;
}

.say-hi {
  padding-left: 7%;
  padding-bottom: 32px;
  padding-top: 80px;
  img {
    width: calc(200px + 15vw)
  }
}


.discuss-new-project {
  font-family: "overpass";
  font-weight: 900;
  font-size: 32px;
  color: #FF9900;
  padding: 56px 0 16px 0;
}

.say-hello {
  font-family: "overpass";
  font-weight: 400;
  font-size: 23px;
  color: #F2EFE7;
  @include responsive-padding;
}


// -------------------- FORM -------------------- // 
.form-wrapper {
  @include responsive-padding;
  margin-top: 24px;
}

form {
  width: 600px;

  input {
    width: 100%;
  }
}

.name {
  width: 400px;
}

.form-wrapper input,
.form-wrapper textarea {
  background-color: black;
  color: white;
  border: none;
  border-bottom: 2px solid white;
  outline: none;
  padding: 10px 0;
  margin-bottom: 20px;
  font-size: 16px;
}

.form-wrapper input::placeholder,
.form-wrapper textarea::placeholder {
  font-family: 'overpass', sans-serif;
  font-weight: 400;
  font-size: 16px;
}

.form-wrapper textarea {
  height: 150px;
}

.submit-btn {
  margin: 0 auto;
  margin-top: 24px;
  width: 252px;
  height: 60px;
  border: solid #BBBBBB 4px;
  background-color: black;
  opacity: 30%;
  cursor: pointer;

  span {
    color: #BBBBBB;
    font-family: "overpass";
    font-weight: 400;
    font-size: 23px;
  }
}

.enter-message {
  color: orange
}

.textarea-wrapper {
  position: relative;

  textarea {
    width: 100%;
  }

  span {
    position: absolute;
    top: 5%;
    right: 5%;
    font-family: "overpass";
  }
}

.email-input-wrapper {
  position: relative;

  span {
    position: absolute;
    top: 5%;
    right: 5%;
    font-family: "overpass";
  }
}

.name-input-wrapper {
  position: relative;

  span {
    position: absolute;
    top: 5%;
    right: 5%;
    font-family: "overpass";
  }
}

.checkbox-wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 16px;

  div {
    height: 18px;
  }

  label {
    font-family: "overpass";
    color: #383838;
    font-size: 16px;
  }

  .privacy-policy{
    color: #FF9900;
    &:hover{
      cursor: pointer;
      opacity: 0.8;
    }
  }
}

label {
  color: red;
}
// --------------------------- RESPONSIVNESS ---------------------------//


//-------------------- 1110px --------------------//
@media(max-width: 1110px) {}

//-------------------- 740px --------------------//
@media(max-width: 740px) {
  .arrow-holder {
    img {
      width: 200px;
    }
  }

  .say-hi{
    padding-top: 72px;
  }

  .triangle-topleft {
    border-top: 112px solid #FFFCF3;
  }

  .say-hello{
    font-size: 16px;
  }

  .discuss-new-project {
    font-size: 20px;
    padding-top: 60px;
  }

  .submit-btn{
    width: calc(252px * 0.8);
    height: calc(60px * 0.8);
    span{
      font-size: calc(20px * 0.9) ;
    }
  }
  
}

//-------------------- 540px --------------------//
@media(max-width: 540px) {
  .triangle-topleft {
    border-top: 80px solid #FFFCF3;
  }

  .say-hello{
    font-size: 14px;
    padding-left: 4px;
    padding-right: 4px;
  }

  .say-hi{
    padding-top: 80px;
  }


  .discuss-new-project {
    padding-top: 80px;
  }

  .form-wrapper input::placeholder,
  .form-wrapper textarea::placeholder
  {
    font-size: 14px;
  }
  
  .checkbox-wrapper{
    label{
      font-size: 14px;
    }
  }

  .submit-btn{
    width: calc(252px * 0.8 * 0.7);
    height: calc(60px * 0.8 * 0.8);
    span{
      font-size: calc(20px * 0.9 * 0.8) ;
    }
  }
}

//-------------------- 450px --------------------//
@media(max-width: 450px) {
  .triangle-topleft {
    border-top: 56px solid #FFFCF3;
  }

  .say-hi{
    padding-top: 96px;
  }

  .discuss-new-project {
    font-size: 18px;
  }

}



//-------------------- 380px --------------------//
@media(max-width: 380px) {
  .say-hello {
    font-size: 14px;
  }
}