@import "../../../styles.scss";

header {
  box-sizing: border-box;
  @include responsive-padding;
  display: flex;
  justify-content: space-between;
  padding: 20px 60px;
  align-items: center;
  border: solid red;
  width: 100%;
  position: fixed;
  top: 0;
  background-color: #FFFCF3;
  z-index: 5;
  max-width: 1440px;
}

.burger-and-translation-btns{
  gap: 16px;
  font-family: "overpass";
  font-size: 24px;
  font-weight: 600ew;
}

.burger-dialog {
  z-index: 6;
  font-size: 100px;
  border: solid orange 2px;
  background-color: #FFFCF3;
  position: fixed;
  height: 97vh;
  top: 90px;
  bottom: 0;
  right: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow-y: hidden;
  max-width: 1440px;
  margin: 0 auto;
}


.burger-menu-hrefs {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -60%);
  border: solid purple;
  width: max-content;
  // margin-top: 10%;

  a{
    text-decoration: none;
    color: inherit;
  }
  h2 {
    margin: 0;
    margin-bottom: 0.5em;
    position: relative;
    font-family: "syne";
    font-weight: 700;
    font-size: 1em;

    &:hover {
      cursor: pointer;
      opacity: 0.8;
    }
  }
}

.d-none {
  display: none;
}

.triangle-topleft {
  margin-top: auto;
  box-sizing: border-box;
  width: fit-content;
  height: 0;
  border-bottom: 200px solid black;
  border-right: 150vw solid transparent;
}

.burger-links-container {
  margin-top: 10%;
  align-self: center;
  justify-self: center;

  h2 {
    margin: 0;
    margin-bottom: 0.5em;
    position: relative;
    font-family: "syne";
    font-weight: 700;
    font-size: 1em;

    &:hover {
      cursor: pointer;
      opacity: 0.8;
    }
  }
}

.small-rectangle {
  position: absolute;
  width: 0.4em;
  height: 0.35em;
  bottom: 0;
  left: -20px;
  ;
  border-left: solid black;
  border-bottom: solid black;
}

//----------------- RESPONSIVNESS ---------------------//

@media(max-width: 1110px) {
  .burger-dialog {
    font-size: 80px;
  }
}


@media(max-width: 750px) {
  .burger-dialog {
    font-size: 70px;
  }
}

@media(max-width: 550px) {
  .burger-dialog {
    font-size: 60px;
  }
}

@media(max-width: 420px) {
  .burger-dialog {
    font-size: 45px;
  }
}