<header>
  <img src="/assets/img/header/initials_logo.png" alt="">
  <img (click)="burgerToggle()" src="/assets/img/header/burger_menu.png" alt="">
</header>

<div class="burger-dialog " [ngClass]="{'d-none': visibility}">
  <div class="burger-links-container d-flex column">
    <span>About me
      <div class="small-rectangle"></div>
    </span>
    <span>My Skills
      <div class="small-rectangle"></div>
    </span>
    <span>Portfolio
      <div class="small-rectangle"></div>
    </span>
    <!-- <img src="./assets/img/header/rectangle.png" alt=""> -->
  </div>
  <div class="triangle-topleft">

  </div>
</div>