//-------------------- Portfolio header --------------------//

.header-container {
  display: flex;
  justify-content: center;
  border: solid red;

  .header-wrapper {

    border: solid blue;
    display: flex;
    flex-direction: column;
    align-items: center;

    h2 {
      margin: 0;
      font-family: "syne";
      font-size: 78px;
      text-align: center;
    }

    p {
      width: 500px;
      max-width: 100%;
      font-family: "overpass";
      font-size: 23px;
    }
  }
}


.row{
  flex-direction: row;
}

.row-reverse{
  flex-direction: row-reverse
}
.even{
  div{
    background-color: red;
  }
}

.odd{
  div{
    background-color: blue;

  }
}
