@import "../../styles.scss";
//-------------------- Portfolio header --------------------//

.portfolio-header-container {
  position: relative;
  @include responsive-padding;
  display: flex;
  justify-content: center;
  border: solid red;

  .portfolio-anchor{
    position:absolute;
    top: -150px;
  }

  .portfolio-header-wrapper {
    border: solid blue;
    display: flex;
    flex-direction: column;
    align-items: center;

    h2 {
      margin: 0;
      font-family: "syne";
      font-size: 78px;
      text-align: center;
    }

    p {
      width: fit-content;
      // min-width: 100%;
      font-family: "overpass";
      font-size: 23px;
      text-align: left;
    }
  }
}


.portfolio-project-wrapper {
  @include responsive-padding;
  border: solid red;
  position: relative;
  margin-top: 140px;

  .chronologic-number {
    position: absolute;
    top: 0;
    right: 150px;
    font-family: "syne";
    font-size: 48px;
  }

  .chronologic-number-even {
    left: 150px;
    width: fit-content
  }
}


.portfolio-img-wrapper {
  position: relative;
  z-index: 3;

  img {
    width: 600px;
  }
}


.project-flex-container {
  display: flex;
  width: 100%;
  align-items: center;

  gap: 80px;
  border: solid blue;

  &:hover {
    .project-description {
      display: flex;
      animation: left-to-right 1s forwards;
    }

    .project-description-even {
      display: flex;
      animation: right-to-left 1s forwards;
    }
  }

  &:hover .portfolio-img-wrapper .portfolio-img-border {
    display: block;
  }

  &:hover .portfolio-img-wrapper .grayscale {
    filter: none;
  }
}


.portfolio-img-border {
  z-index: 3;
  position: absolute;
  display: none;
  top: 10px;
  left: 10px;
  border: solid black 2px;
  width: 100%;
  height: 100%;

  .down-arrow {
    width: 75px;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(50%, -50%);
  }

  .down-arrow-reverse {
    width: 75px;
    position: absolute;
    top: 50%;
    left: -12.5%;
    transform: translate(-50%, -50%);

  }
}


.grayscale {
  filter: grayscale(100%);
  z-index: 4;
}


.project-description,
.project-description-even {
  border: solid blue;
  display: none;
  flex-direction: column;
  font-size: 45px;
  gap: 10px;

  h2 {
    margin: 0;
    font-family: "syne";
    font-weight: 800;
    font-size: 1em;
    // padding-bottom: 8px;
  }

  .technologies {
    font-family: "overpass";
    font-size: 0.5em;
    color: #FF9900;
    // padding-bottom: 8px;
  }

  .description {
    font-family: "overpass";
    font-size: 0.35em;
    padding-bottom: 16px;
  }
}


.description-btns {
  border: solid orange;
  display: flex;
  gap: 40px;

  div {
    font-family: "overpass";
    font-size: 0.5em;
  }

  .test-btn,
  .git-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 140px;
    height: 50px;
    border: solid 4px;
  }

  .test-btn:hover {
    transform: scaleX(1.2) translateX(13px);
    font-weight: 800;
    cursor: pointer;
  }

  .git-btn:hover {
    transform: scaleX(1.2) translateX(-13px);
    font-weight: 800;
    cursor: pointer;
  }
}


//-------------------- ANIMATIONS --------------------//
@keyframes left-to-right {
  from {
    transform: translateX(-50%);
  }

  to {
    transform: translateX(0%);
  }
}


@keyframes right-to-left {
  from {
    transform: translateX(50%);
  }

  to {
    transform: translateX(0%);
  }
}

@keyframes top-to-bottom {
  from {
    transform: translateY(-50%);
  }

  to {
    transform: translateY(0%);
  }
}



.slide-in-right-to-left {
  animation-name: from-right-to-left;
  animation-duration: 0.7s;
  animation-timing-function: ease-out;
}

.slide-in-left-to-right {
  animation-name: left-to-right;
  animation-duration: 0.7s;
  animation-timing-function: ease-out;
}

.slide-in-top-to-bottom {
  display: none;
  animation-name: top-to-bottom;
  animation-duration: 0.7s;
  animation-timing-function: ease-out;
}

//-------------------- Flexible Classes --------------------//
.flex-d-row-reverse {
  flex-direction: row-reverse;
}


//-------------------- RESPONSIVNESS --------------------//


//-------------------- 1110px --------------------//
@media(max-width: 1110px) {
  .project-flex-container {
    flex-direction: column;
    width: fit-content;
    gap: 32px;
    align-items: flex-start;
  }

  .portfolio-project-wrapper {
    display: flex;
    justify-content: center;
    height: 540px;

    .chronologic-number {
      top: -50px;
      right: 24px;
      font-size: calc(48px * 0.7);
    }

    .chronologic-number-even {
      left: 24px;
      font-size: calc(48px * 0.7);

    }
  }


  .project-flex-container:hover .project-description {
    display: flex;
  }

  .project-flex-container:hover .project-description {
    animation: top-to-bottom 1s forwards;
  }

  .project-flex-container:hover .project-description-even {
    animation: top-to-bottom 1s forwards;
  }
}


//-------------------- 740px --------------------//
@media(max-width: 740px) {
  .portfolio-project-wrapper {
    height: 450px;
  }

  .portfolio-img-wrapper {
    img {
      width: 450px;
    }
  }

  .project-flex-container{
    max-width: 450px;
  }

  // font-size em basis for all children 
  .project-description,
  .project-description-even {
    font-size: 31.5px;

    .description{
      font-size: 0.5em;
      font-weight: 500;
    }
  }

  .description-btns {
    gap: 24px;

    .test-btn,
    .git-btn {
      width: 100px;
      height: 35px;
      border: solid 2px;
    }
  }

  .portfolio-img-border {
    top: 4px;
    left: 4px;

    .down-arrow {
      width: 50px;
    }

    .down-arrow-reverse {
      width: 50px;
      left: -11%;
    }
  }
}


//-------------------- 550px --------------------//
@media(max-width: 550px) {

  .portfolio-project-wrapper {
    height: 315px;
  }

  .portfolio-img-wrapper {
    img {
      width: 300px;
    }
  }

  .project-flex-container{
    max-width: 300px;
  }

  .portfolio-project-wrapper{
    .chronologic-number {
      top: -40px;
      right: 24px;
      font-size: calc(48px * 0.7 * 0.7);
    }
  
    .chronologic-number-even {
      left: 24px;
      font-size: calc(48px * 0.7 * 0.7);
    }
  }


  .project-description,
  .project-description-even {
    font-size: 22px;

    .technologies{
      font-size: 0.7em;
    }
    .description{
      font-size: 0.6em;
      font-weight: 500;
    }
  }

  .description-btns {

    .test-btn,
    .git-btn {
      width: calc(140px * 0.7);
      height: calc(50px * 0.7);
    }
  }

  .portfolio-img-border {
    top: 4px;
    left: 4px;

    .down-arrow,
    .down-arrow-reverse {
      width: 35px;
    }
  }
}

//-------------------- 420px --------------------//
@media(max-width: 420px) {
  .header-container {
    .header-wrapper {
      h2 {
        font-size: 56px;
      }
    }
  }
}


@media(max-width: 370px){
  .portfolio-img-wrapper {
    img {
      width: 280px;
    }
  }
 
}