.privacy-policy-wrapper {
  text-align: left;
  overflow-y: auto;
  font-family: "syne";
  // font-size: 50px ;
  margin-top: 96px;
  box-sizing: border-box;
  border: solid green;
  padding-left: 24px;
  padding-right: 24px;
  span{
    font-family: "overpass";
  }
}