<div class="privacy-policy-wrapper">
  <h1>{{ "PRIVACY_POLICY_TITLE" | translate }}</h1>
  <p>{{ 'PRIVACY_POLICY_INTRO' | translate }}</p>
  <h2>{{ 'RESPONSIBLE_TITLE' | translate }}</h2>
  <p [innerHTML]="'RESPONSIBLE_INFO' | translate"></p>
  <h2>{{ 'PERSONAL_DATA_TITLE' | translate }}</h2>
  <p>{{ 'PERSONAL_DATA_INFO' | translate }}</p>
  <h2>{{ 'DATA_ON_WEBSITE_CALL_TITLE' | translate }}</h2>
  <p>{{ 'DATA_ON_WEBSITE_CALL_INFO' | translate }}</p>
  <ul>
    <li>{{ 'DATA_ON_WEBSITE_CALL_LIST.IP_ADDRESS' | translate }}</li>
    <li>{{ 'DATA_ON_WEBSITE_CALL_LIST.REQUEST_DATE_TIME' | translate }}</li>
    <li>{{ 'DATA_ON_WEBSITE_CALL_LIST.TRANSFERRED_DATA_AMOUNT' | translate }}</li>
    <li>{{ 'DATA_ON_WEBSITE_CALL_LIST.REFERRER_WEBSITE' | translate }}</li>
    <li>{{ 'DATA_ON_WEBSITE_CALL_LIST.BROWSER_TYPE_VERSION' | translate }}</li>
    <li>{{ 'DATA_ON_WEBSITE_CALL_LIST.OPERATING_SYSTEM' | translate }}</li>
  </ul>
  <p>{{ 'LEGAL_BASIS_INFO' | translate }}</p>
  <p>{{ 'ADDITIONAL_SERVICES_INFO' | translate }}</p>
  <h2>{{ 'YOUR_RIGHTS_TITLE' | translate }}</h2>
  <p>{{ 'YOUR_RIGHTS_INFO' | translate }}</p>
  <ul>
    <li>{{ 'YOUR_RIGHTS_LIST.ACCESS_RIGHT' | translate }}</li>
    <li>{{ 'YOUR_RIGHTS_LIST.RECTIFICATION_RIGHT' | translate }}</li>
    <li>{{ 'YOUR_RIGHTS_LIST.ERASURE_RIGHT' | translate }}</li>
    <li>{{ 'YOUR_RIGHTS_LIST.RESTRICTION_RIGHT' | translate }}</li>
    <li>{{ 'YOUR_RIGHTS_LIST.DATA_PORTABILITY_RIGHT' | translate }}</li>
    <li>{{ 'YOUR_RIGHTS_LIST.OBJECTION_RIGHT' | translate }}</li>
    <li>{{ 'YOUR_RIGHTS_LIST.AUTOMATED_DECISION_RIGHT' | translate }}</li>
    <li>{{ 'YOUR_RIGHTS_LIST.COMPLAINT_RIGHT' | translate }}</li>
  </ul>
  <p>{{ 'SOURCE' | translate }}: <a href="https://www.anwalt.de/vorlage/muster-datenschutzerklaerung.php" rel="nofollow">{{ 'SOURCE_LINK' | translate }}</a></p>
</div>
