.privacy-policy-wrapper {
  font-family: "overpass";
  h1, h2{
    font-family: "syne";
  }
  height: calc(100vh - 225px);
  margin-top: 96px;
  box-sizing: border-box;
  padding-left: 24px;
  padding-right: 24px;
  overflow-y: auto;
}

//----------------------------- RESPONSIVNESS -----------------------------//
@media(max-width: 500px){
  .privacy-policy-wrapper{
    font-size: 16px;
    h1{
      font-size: 20px;
    }
    
    h2{
      font-size: 18px;
    }
  }
}