@import "../../styles.scss";

.my-skills-wrapper {
  position: relative;
  @include responsive-padding;
  padding: 0 60px;
  margin-top: 72px;
}

.my-skills-anchor{
  position:absolute;
  top: -150px;
}

.my-skills-rect {
  position: relative;
  height: fit-content;
  border: solid black;
  padding: 5% 5% 0 5%;
}

.my-skills {
  color: black;
  position: absolute;
  padding: 0 10px;
  transform: translate(50%, -50%);
  background-color: #FFFCF3;
  top: 0;
  right: 50%;
  font-family: "syne";
  font-weight: 800;
  font-size: 70px;
}

.skills-icons-wrapper {
  height: 100%;
  display: flex;
  align-items: center;
  gap: 8%;
  justify-content: space-evenly;
  flex-wrap: wrap;

  .icons-holder {
    align-items: center;
    width: fit-content;
    gap: 8px;
    display: flex;
    flex-direction: column;
    margin-bottom: 8%;
  }

  span {
    font-family: "overpass";
    font-size: 16px;
  }
}

.right-arrow-container{
  display: flex;
    justify-content: flex-start;
    &:hover {
      transition: transform 500ms ease;
      transform: translate(40px, 40px);  }
}


//--------------------- RESPONSIVNESS ----------------------- //

@media (max-width: 1200px) {
  .my-skills{
    font-size: 50px;
  }
}

@media (max-width: 915px) {
  .my-skills{
    font-size: 30px;
  }
  .icons-holder{
    img{
      width: 50px;
    }
  }
}

@media (max-width: 630px) {
  .my-skills{
    font-size: 24px;
  }

  .right-arrow{
    width: 200px;


  }
}

@media (max-width: 520px) {
  .my-skills{
    font-size: 16px;
    padding: 0 5px;
  }

  .icons-holder{
    img{
      width: 35px;
    }
  }
}