<div class="my-skills-wrapper">
  <div class="my-skills-rect">
    <span class="my-skills">
      My Skills
    </span>

    <div class="skills-icons-wrapper">
      <div class="icons-holder">
        <img src="./assets/img/my-skills/icon-angular.png" alt="">
        <span>Angular</span>
      </div>
      <div class="icons-holder">
        <img src="./assets/img/my-skills/icon-ts.png" alt="">
        <span>Typescript</span>
      </div>
      <div class="icons-holder">
        <img src="./assets/img/my-skills/icon-js.png" alt="">
        <span>Javascript</span>
      </div>
      <div class="icons-holder">
        <img src="./assets/img/my-skills/icon-html.png" alt="">
        <span>HTML</span>
      </div>
      <div class="icons-holder">
        <img src="./assets/img/my-skills/icon-css.png" alt="">
        <span>CSS</span>
      </div>
      <div class="icons-holder">
        <img src="./assets/img/my-skills/icon-firebase.png" alt="">
        <span>Firebase</span>
      </div>
      <div class="icons-holder">
        <img src="./assets/img/my-skills/git.png" alt="">
        <span>Git</span>
      </div>
      <div class="icons-holder">
        <img src="./assets/img/my-skills/icon-scrum.png" alt="">
        <span>Scrum</span>
      </div>
    </div>

  </div>
  <img src="./assets/img/my-skills/arrow-right.png" alt="">
</div>