.imprint-wrapper {
  font-family: "syne";
  font-size: 50px ;
  height: 100vh;
  box-sizing: border-box;
  padding-top: 150px;
  padding-left: 64px;
  height: calc(100vh - 141px)  ;
  span{
    font-family: "overpass";
  }
  overflow-y: auto ;
}

h1{
  font-size: 1.1em;
}

h2{
  margin: 40px 0 8px 0;
  font-size: 0.7em;
}

.imprint-wrapper{
  span{
    font-size: 0.5em;
  }
}

//------------------------------ RESPONSIVNESS ------------------------------//

@media(max-width: 450px){
  .imprint-wrapper{
    padding-left: 24px;
    font-size: 45px;
    height: 86vh;
  }
}