/* You can add global styles to this file, and also import other style files */

html {
  scroll-behavior: smooth;
}

h1, h2{
  margin: 0;
}

body{
  background-color: #FFFCF3;
  margin: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "syne";
  src: url(./assets/fonts/syne.ttf);
}

@font-face {
  font-family: "overpass";
  src: url(./assets/fonts/overpass.ttf);
}

@font-face {
  font-family: "poppins";
  src: url(./assets/fonts/poppins-regular.ttf);
}


//------------------------- Flexible classes -------------------------//
.d-flex{
  display: flex;
}

.column{
  flex-direction: column;
}

.d-flex-j-c{
  display: flex;
  justify-content: center;
}

.center-all{
  justify-content: center;
  align-items: center;
}

//------------------------- VARIABLES -------------------------//

$padding-default: 60px;
$padding-medium: 40px;
$padding-small: 20px;

@mixin responsive-padding {
  padding-left: $padding-default;
  padding-right: $padding-default;

  @media (max-width: 750px) {
    padding-left: $padding-medium;
    padding-right: $padding-medium;
  }

  @media (max-width: 450px) {
    padding-left: $padding-small;
    padding-right: $padding-small;
  }
}

//------------------------- CUSTOM SCROLLBAR -------------------------//

body::-webkit-scrollbar {
  width: 12px; /* Breite des Scrollbalkens */
  background: #FFFCF3; /* Hintergrundfarbe des Scrollbalkens */
  border-radius: 4px;
}

body::-webkit-scrollbar-track {
  background: #FFFCF3; /* Hintergrundfarbe des Tracks */
  border: 1px solid black; /* Randfarbe des Tracks */
  border-radius: 4px;
}

body::-webkit-scrollbar-thumb {
  cursor: pointer;
  min-height: 30px;
  background: #FFFCF3; /* Farbe des Griffs des Scrollbalkens */
  border: 2px solid black; /* Randfarbe des Griffs des Scrollbalkens */
  border-radius: 4px;
}

body::-webkit-scrollbar-thumb:hover {
  background: #FFFCF3; /* Farbe des Griffs des Scrollbalkens bei Hover */
}

textarea::-webkit-scrollbar {
  width: 12px; /* Breite des Scrollbalkens */
  background: #FFFCF3; /* Hintergrundfarbe des Scrollbalkens */
  border-radius: 4px;
}

textarea::-webkit-scrollbar-track {
  background: #FFFCF3; /* Hintergrundfarbe des Tracks */
  border: 1px solid black; /* Randfarbe des Tracks */
  border-radius: 4px;
}

textarea::-webkit-scrollbar-thumb {
  cursor: pointer;
  min-height: 30px;
  background: black; /* Farbe des Griffs des Scrollbalkens */
  border: 1px solid black; /* Randfarbe des Griffs des Scrollbalkens */
  border-radius: 4px;
}

textarea::-webkit-scrollbar-thumb:hover {
  background: #FFFCF3; /* Farbe des Griffs des Scrollbalkens bei Hover */
}
  