/* You can add global styles to this file, and also import other style files */

body{
  background-color: #FFFCF3;
  margin: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "syne";
  src: url(./assets/fonts/syne.ttf);
}

@font-face {
  font-family: "overpass";
  src: url(./assets/fonts/overpass.ttf);
}

@font-face {
  font-family: "poppins";
  src: url(./assets/fonts/poppins-regular.ttf);
}


//------------------------- Flexible classes -------------------------//
.d-flex{
  display: flex;
}

.column{
  flex-direction: column;
}

.d-flex-j-c{
  display: flex;
  justify-content: center;
}

.center-all{
  justify-content: center;
  align-items: center;
}