<div class="portfolio-project-wrapper">
  <div class="portfolio-img-description-wrapper" (mouseleave)="invisible()" (mouseover)="rotateArrow()">

    <div class="portfolio-img-wrapper" >
      <img class="grayscale"  [ngStyle]="{'filter': grayScale}" src="./assets/img/portfolio/portfolio-join.png" alt="">
      <div class="portfolio-img-border" [ngStyle]="{'display': showBorder}">
        <img [ngStyle]="{'transform': rotate}"
               class="down-arrow" src="./assets/img/portfolio/arrow-down.png" alt="">
      </div>
    </div>
    <div class="join-description" [ngStyle]="{'display': display}" [ngClass]="{'slide-in-left-to-right': slideIn}">
      <h2>Join</h2>
      <span class="technologies">Angular | Typescript</span>
      <span class="description">Task manager inspred by the Kanban System</span>
      <div class="description-btns">
        <div class="test-btn">Test</div>
        <div class="git-btn">Git</div>
      </div>
    </div>

  </div>
  <div class="chronologic-number">01/2</div>
</div>